# Node.js dependencies
/node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Build output
/dist
/build

# Operating system files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/

# npm package lock files
package-lock.json
yarn.lock

# Docker files
.docker
docker-compose.override.yml
